.bookCard {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    margin: 3px;
    text-decoration: none;
    position: relative;
}

.bookCard img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    user-select: none;
    text-decoration: none;
    vertical-align: middle;
}

.bookSnippetContainer {
    display: flex;
    gap: 10px;
    box-shadow: 0 10px 30px 0 rgba(127, 127, 127, 0.3);
    border-radius: 5px;
}

.bookSnippetTextContainer {
    margin: 3px;
    flex-basis: 45%;
    font-size: 14px;
    line-height: 18px;
}

.bookAuthorText {
    margin-bottom: 10%;
}

.bookAuthorText span, .titleText span {
    display: block;
}

.titles {
    font-weight: bold;
}

.snippetsContainer {
    padding: 2% 20% 2% 20%;
    display: grid;
    grid-gap: 20px 20px;
}


@media (min-width: 500px) {
    .snippetsContainer {
        grid-template-columns: 1fr 1fr;
        padding: 2%;
    }

    .bookCard {
        width: 70px;
        height: 70px;
    }
}

@media (min-width: 700px) {
    .snippetsContainer {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px 10px;
    }

    .bookCard {
        width: 100px;
        height: 100px;
    }
}

@media (min-width: 1000px) {
    .snippetsContainer {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        padding: 2% 20% 2% 20%;
    }

    .bookCard {
        width: 200px;
        height: 200px;
    }
}
